.profile {
  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    &:last-child {
      border: none;
    }
  }

  &__input-label {
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
  }

  &__input-data {
    width: 70%;
    background-color: inherit;
    border: none;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: #999;
    text-align: end;
    &:focus {
      outline: none;
    }

    &_active {
      color: #1e1e1e;
    }
  }

}
