.chat-item {
  display: flex;
  border-top: 1px solid #eaeaea;
  padding: 12px 10px;
  transition: .3s;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: #e4edfd;
  }
  &__chat-info-container {
    display: flex;
    gap: 10px;
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
  }
  &__messages-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__chat-title {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }
  &__chat-last-message {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Количество отображаемых строк */
    -webkit-box-orient: vertical;
    max-width: 100%;
  }
  &__chat-date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__last-message-date {
    color: #999;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
  }

  &__unreaded-message-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3369f3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__unreaded-message-count {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
  }
}
