<main class="error-page">
  <h1 class="page-title">{{errorCode}}</h1>
  <p class="page-description">{{description}}</p>
  {{{Button text="Назад к чатам" class="button_text" onClick=onButtonClick}}}
</main>`
