@import url(./components/components.scss);

.chat-list {
  width: 30%;
  background-color: $color-chatlist-background;
  padding: 20px 0 10px;
  border-right: 1px solid #eaeaea;
  overflow: scroll;
  overflow-x: hidden;
}
