.input {
  position: relative;
  width: 280px;

  &_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-border;
    padding: 10px 0;

    &:last-child {
      border: none;
    }
  }

  &_file {
    display: none;
  }
}

.input-data {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid $color-accent;
  font-size: 16px;

  // styles for Profile page inputs
  &_profile {
    border-bottom: none;
    width: 70%;
    padding: 0;
    background-color: inherit;
    border: none;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: $color-font-secondary;
    text-align: end;

    &:focus {
      outline: none;
    }

    &:last-child {
      border: none;
    }

    &-active {
      color: $color-font-main;
      border-bottom: none;
      width: 70%;
      padding: 0;
      background-color: inherit;
      border: none;
      font-size: 13px;
      line-height: 13px;
      font-weight: 500;
      text-align: end;

      &:focus {
        outline: none;
      }

      &:last-child {
        border: none;
      }

    }
  }


  &_file {
    display: none;
  }

  &:focus {
    outline: none;
  }
}
