.input {
  position: relative;
  width: 280px;

  &__placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: $color-placeholder;
    transition: .3s;

    &_active {
      top: 3px;
      font-size: 9px;
      font-weight: 500;
      line-height: 9px;
    }
  }
}

.input-data {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid $color-accent;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}
