.form {
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 340px;
  box-shadow: $box-shadow;

  &_without-border {
    box-shadow: none;
  }

  &_message {
    flex-direction: row;
    padding: 0;
    width: 100%;
    gap: 10px;
    background-color: inherit;
    box-shadow: none;
  }
}
