@import "../../index";

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  &__buttons-container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }
}

.authorize-form {
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 340px;
  box-shadow: $box-shadow;
}


.input {
  position: relative;

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s, font-size 0.3s;
  }
}

#login {
  padding: 10px;
  font-size: 16px;
}
