<main class="login-page">
  {{#Form onSubmit=onSubmitForm}}
    <h1 class="login-page__title">Вход</h1>
    <div class="login-page__inputs-container">
      {{#each inputs}}
        <div class="input">
          {{{Input name=this.name type=this.type}}}
          {{{Label label=this.label name=this.name}}}
          {{{InputError text=this.errorText id=this.errorId }}}
        </div>
      {{/each}}
    </div>
    <div class="login-page__buttons-container">
    {{#each buttons}}
      {{{Button type=this.type text=this.text class=this.class onClick=this.onClick}}}
    {{/each}}
    </div>
  {{/Form}}
</main>
